.ql-editor{
  background-color: #fff;
}

.ql-container{
  background-color: #b6b4b6;
  border: .1px solid transparent !important;
}

.quill{
  border : none !important
}
.ql-toolbar{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: start;
  padding-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
  border: .1px solid transparent !important;
  margin-bottom: 2rem;
  border-radius: .5rem;
}

.ql-toolbar .ql-formats{
  width: 20%;
  height: 100%;
  border-right: 1px solid  #b6b4b6;
}

.ql-toolbar .ql-formats:nth-child(1) .ql-header{
  width: 95%;
}

.ql-toolbar .ql-formats:last-child{
  border: none;
}
